@import 'tailwindcss';

:root {
  --big-bear-red: #cd214f;
}

#app {
  font-family: 'Finger Paint', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-weight: bold;
}

nav a {
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: var(--big-bear-red);
}

p {
  max-width: 60dvw;
  margin: auto;
  padding-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--big-bear-red);
}

.big-bear-button {
  background-color: var(--big-bear-red);
  color: white;
  cursor: pointer;
}

.big-bear-button:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  p {
    max-width: 80dvw !important;
  }
}
